# Dependencies
node_modules/

# Build and dist files
dist/
build/

# TypeScript files
*.tsbuildinfo

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
logs/

# Operative system
.DS_Store
Thumbs.db

# Variables de entorno
.env
.env.local
.env.*.local

# Cache
.cache/
.tmp/

# IDEs y editores
.vscode/
.idea/
*.swp
